:root {
  --bluemas_m2: rgb(90,154,204);
  --bluemas_m1: rgb(53,131,190);
  --bluemas: rgb(18, 111, 183);
  --bluemas_p1: rgb(8,86,146);
  --bluemas_p2: rgb(5,67,114);
  --lightgreymas: rgb(167, 167, 167);
  --greymas: rgb(87, 86, 86);
  --orangemas_m2: rgb(255,190,102);
  --orangemas_m1: rgb(255,171,59);
  --orangemas: rgb(255,150,9);
  --orangemas_p1: rgb(227,130,0);
  --orangemas_p2: rgb(177,101,0);
  --bordersize: 0.5px;
  --cellsize: 10px;
  --mainblocksize: 100%;
  --maintextblocksize: 85%;
}

* {
  color: var(--fontColor);
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", "Calibri light";  
  background-color: var(--bg);
  /* font-size:20px; */
}

body {
  background-color: transparent;
  background-image: url("images/ENSEMBLE.jpg");
  background-size: 100%;
}
body *{
  background-color:  transparent;
}
body div {
  background-color: var(--bg);
}
body main {
  background-color: var(--lightgreymas);
  /* background-color:  transparent; */
}
body footer {
  background-color: var(--bg);
}

/* --------------------------------------------------------------------- */
/* -----------------------       COULEURS       ------------------------ */
/* --------------------------------------------------------------------- */

.light-theme {
  --bg: var(--lightgreymas);
  --fontColor: var(--greymas); 
  --menuFontColor: white;
}
.dark-theme {
  --bg: var(--greymas);
  --fontColor: var(--bluemas_m1);
  --menuFontColor: var(--bluemas);
}

/* --------------------------------------------------------------------- */
/* -----------------------    MENU DEROULANT    ------------------------ */
/* --------------------------------------------------------------------- */
nav {
  position : sticky;
  top:0px;
}

nav ul {
  list-style-type: none;
}
nav ul li {
  float: left; /* éléments de liste sur la même ligne : soit un display : inline-block, soit un float : left */
  width: 25%; /* espacer les onglets de menu : attribuer une largeur égale à 100% divisée par le nombre d’éléments de menu à chaque élément de menu */
  text-align: center; /* centrer le contenu textuel de chacun de nos éléments de menu */
  position: relative;
}
/* Comme on applique un float : left à tous nos éléments de liste, nous allons également utiliser 
   le clearfix avec le pseudo-élément ::after que nous allons appliquer à la liste en soi pour 
   éviter que sa hauteur ne soit nulle. */
nav ul::after {
  content: "";
  display: table;
  clear: both;
}
/* rendre toute la case cliquable et non pas juste le texte */
nav a {
  background: var(--bg);
  display:block;
  text-decoration: none;
  color: var(--menuFontColor);
  padding: var(--cellsize) 0px; /* hauteur des cellules */
  border: var(--bordersize) solid var(--greymas);
}
/* surligner / mettre en relief l'élement survolé */
nav a:hover {
  color: var(--bluemas);
  background: var(--menuFontColor);
  border: var(--bordersize) solid var(--greymas);
}

/* sous menu déroulant */
.scrollbar {
  display : none;
  box-shadow: 0px 8px 5px var(--greymas);
  /* background-color: white; */
  position : absolute;
  width : 100%;
  z-index : 1000;
}
nav > ul li:hover .scrollbar {
  display : block;
}
.scrollbar li {
  float : none;
  width: 100%;
  text-align: left;
}
.scrollbar a {
  background: var(--bg);
  padding : var(--cellsize);
  border-top: none; 
  border-bottom: none; 
  border-right: none; 
  border-left: none; 
}
.scrollbar a:hover {
  color: var(--bluemas);
  background: var(--menuFontColor);
  border-top: none; 
  border-bottom: none; 
  border-right: none; 
  border-left: none; 
}


/* --------------------------------------------------------------------- */
/* ------------------------------    BODY    --------------------------- */
/* --------------------------------------------------------------------- */
body {  
  width: 100%;
  margin: 0 auto;
}

body header th {  
  font-size : xx-large;
  text-align: center;
  /* font-family: "Maiandra GD";  */
  font-family: "Shell";
}
body header td {  
  font-size : x-large;
  text-align: left;
  /* font-family: "Maiandra GD";  */
  font-family: "Times New Roman";
}

body header table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

body header table img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* body main {    
   border: var(--bordersize) solid var(--greymas); 
}  */
body main div {  
  width: fit-content;
}
body main article {  
  width: var(--maintextblocksize);
  margin-left: auto;
  margin-right: auto;
}
/* 
body main article table th {
  text-align: left;
} */ 
body main article table * {
  border: solid transparent;
}

body main article table {
  text-align: left;  
  table-layout: auto;
  margin-left: 0px;
}

body main h1 {
  width: var(--maintextblocksize);
  color: var(--bluemas);
  font-size : x-large;
  margin-left: auto;
  margin-right: auto;
  /* text-align: left ; */
  padding: var(--cellsize) 0px; /* hauteur des cellules */ 
  text-transform: uppercase;
}

body main h2 { 
  width: var(--maintextblocksize);
  color: var(--bluemas_m1);
  font-size : medium;
  margin-left: auto;
  margin-right: auto;
  text-align: left; 
  padding: var(--cellsize) 0px; /* hauteur des cellules */ 
  text-transform: uppercase;
}

body main h3 { 
  width: var(--maintextblocksize);
  color: var(--bluemas_m1);
  font-size : medium;
  margin-left: auto;
  margin-right: auto;
  text-align: left; 
  padding: var(--cellsize) 0px; /* hauteur des cellules */ 
}

body main ol { 
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: left; 
}


/* --------------------------------------------------------------------- */
/* ----------------------------    FOOTER    --------------------------- */
/* --------------------------------------------------------------------- */

footer {
  font-size: small;
  text-align: center;
  background: var(--bg);
  color: var(--menuFontColor);
  border: var(--bordersize) solid var(--greymas);
  padding: var(--cellsize) 0px; /* hauteur des cellules */ 
}

footer table {
  margin-left: auto;
  margin-right: auto;
}

/* footer p,a {
  color: var(--menuFontColor);
} */